<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.atguigu.gmall.product.mapper.SkuSaleAttrValueMapper">
   <!-- //5 根据skuId获得商品属性组合
    Map getSkuValueIdsMap(Long spuId);-->
    <select id="getSkuValueIdsMap" resultType="map">
        select
            GROUP_CONCAT(sale_attr_value_id order by  spv.base_sale_attr_id separator '|') value_ids,
            sku_id
        from sku_sale_attr_value skv
        inner join spu_sale_attr_value spv on skv.sale_attr_value_id=spv.id
        where skv.spu_id = #{spuId}
        GROUP BY sku_id
    </select>
</mapper>